.container {
	background-color: var(--contrast);
	width: 70%;
	margin: 0 5%;
	padding: 1%;
	border: 1px solid var(--bgColor);
	border-radius: 10px;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: fit-content;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 2rem;
	line-height: 2rem;
	width: 100%;
	line-height: 2.5rem;
}

.totTime {
	font-size: 1.5rem;
}

.icons {
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.stages {
	width: 98%;
	/* background-color: lightcoral; */
	overflow: auto;
}

.insertFirstStage {
	width: fit-content;
	padding-top: 2%;
}
