.container {
	width: 90%;
	border: 1px solid black;
	height: 90px;
	padding: 1%;
	background-color: var(--contrast);
	border-radius: 6px;
	box-shadow: 1px 2px 3px var(--bgColor);
}

/* .container:hover{

} */

.dateCard {
	background-color: var(--LitePAUSED);
}

.name {
	font-size: 1.5rem;
}
